@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Alef:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

body {
	background-color: black;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: white;
}

.logo {
	float: left;
	height: 125px;
	width:  175px;
}

h1 {
	font-family: "Alef", sans-serif;
	font-size: 350%;
	color: yellow;
	background-color: #8559c4;
	text-shadow: 2px 2px #ff0000;
	padding: .5em 450px;
	margin-bottom: 25px;
}

nav {
	display: block;
	position: absolute;
	left: 0px;
	top: 125px;
	min-height: 100%;
	width: 175px;
	background-color: red;
	float: left;
}

nav a {
	color: yellow;
	font-weight: bold;
	display: block;
	padding: 15px;
}

nav a:link, nav a:visited, 
address a:link, address a:visited {
	text-decoration: none;
}

address a {
	color: white;
}

address a:hover {
	text-decoration: underline;
	color: blue;
}

nav li:hover {
	background-color: #FF9D45;
}

main {
	margin-left: 225px;
}

.pizza {
	height: 300px;
	width: 500px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}