@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Alef:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

body {
	//background-color: black;
	background-color: #ffcc33;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: white;
}

.logo {
	float: left;
	height: 125px;
	width:  175px;
}

h1 {
	font-family: "Alef", sans-serif;
	font-size: 350%;
	background-color: #8559c4;
	text-shadow: 2px 2px black;
	padding: .5em 450px;
}

h1 a {
	color: #ffd147;
}

nav {
	float: left;
	background-color: #8559c4;
	width: 175px;
}

nav a {
	color: white;
	font-weight: bold;
	display: block;
	padding: 15px;
}

nav a:link, nav a:visited, 
address a:link, address a:visited,
h1 a:link, h1 a:visited {
	text-decoration: none;
}

address a {
	color: white;
}

address a:hover {
	text-decoration: underline;
	color: blue;
}

nav li:hover {
	background-color: #FF9D45;
}

main {
	margin-left: 225px;
	margin-top: 25px;
}

.pizza {
	height: 300px;
	width: 500px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.pizza-order {
	height: 155px;
	width: 280px;
	float: right;
}

h2 {
	margin-left: 275px;
	font-family: "Alef", sans-serif;
	color: #8559c4;
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 2px 2px white;
}

.menu {
	font-size: 12pt;
	margin-left: 50px;
	padding-right: 300px;
}

h3 {
	font-weight: bold;
	margin-bottom: 10px;
	color: #8559c4;
}

.menu dt, .menu ul {
	margin-bottom: 10px;
}

.menu dd, .menu ul {
	margin-bottom: 15px;
}

.menu dt {
	font-size: 12pt;
	margin-left: 20px;
}

.menu dd {
	font-size: 11pt;
	margin-left: 40px;
}

.menu dl {
	margin-bottom: 20px;
}

.menu li {
	font-size: 11.5pt;
	margin-bottom: 5px;
	list-style-type: circle;
	margin-left: 20px;
}

.menu-directions {
	//border: ;
}

